.with-nav-top {
	padding-top: 4.4rem;
}
.with-menu-bottom {
	
	.copyright {
		margin-bottom: 3.5rem;
	}
}
.nav {
	height: @nav-height;
	background-color: @nav-bg-color;
	color: @nav-tx-color;
	text-align: center;

	&.fixed-top {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: @nav-index;
	}

	.nav-btn {
		display: inline-block;
		width: @nav-btn-width;
		height: 100%;
		text-decoration: none;
		color: @nav-tx-color;
		
		i {
			line-height: @nav-height;
			font-size: @nav-tx-size*2;
		}
	}

	.nav-left {
		text-align: left;
		float: left;
		margin-left: @nav-pd-guter;
	}

	.nav-right {
		text-align: right;
		float: right;
		margin-right: @nav-pd-guter;
	}

	.nav-title {
		font-size: @nav-tx-size;
		line-height: @nav-height;
	}
}

.menu {
	height: @menu-height;
	display: flex;
	justify-content: center;
	background-color: @menu-bg-color;
	border-top: @menu-border-width solid @menu-border-color;

	&.fixed-bottom {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: @menu-index;
	}

	.menu-btn {
		position: relative;
		align-items: center;
		flex: 1;
		text-decoration: none;
		text-align: center;
		color: @menu-tx-color;

		i {
			font-size: @menu-tx-size*2;
		}

		p {
			margin: 0;
			font-size: @menu-tx-size;
		}
	}

	.menu-special {
		position: absolute;
		left: 50%;
		top: -@menu-super-size/4;
		z-index: @menu-index + 100;
		margin-left: -@menu-super-size/2;
		padding: @menu-super-size/12;
		display: inline-block;
		width: @menu-super-size;
		height: @menu-super-size;
		border-radius: 50%;
		background-color: @menu-bg-color;
		border: @menu-border-width solid @menu-border-color;

		img {
			width: 100%;
		}

	}

	a.active {
		font-weight: 400;
		opacity: 1;
		color: @menu-active-tx-color;
	}
}

// nav动画
.nav-animated {
	animation-duration: .5s;
	animation-fill-mode: both
}
@keyframes navSlideDown {
	0% {
		transform: translateY(-100%)
	}

	100% {
		transform: translateY(0)
	}
}
.nav-animated.nav-slideDown {
	animation-name: navSlideDown
}
@keyframes navSlideUp {
	0% {
		transform: translateY(0)
	}

	100% {
		transform: translateY(-100%)
	}
}
.nav-animated.nav-slideUp {
	animation-name: navSlideUp
}