.squared {

	.squared-item {
		display: inline-block;
		width: 33.3333%;
		float: left;
		flex: 1;
		height: 33vw;
		border-right: @border-width solid @border-color;
		border-bottom: @border-width solid @border-color;

		&:nth-child(3n) {
			border-right: none;
		}
	}
}