// 黑色系
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

// 主色系
@primary:         		 #2b9d71;
@primary-fu:             #49dfa5;
@success:         		 #8CC152;
@info:            		 #3BAFDA;
@warning:         		 #F6BB42;
@danger:          		 #e7334b;

// 字体
@font-family-base:        sans-serif;

@font-size-base:          .7rem;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          @gray-dark;
@headings-small-color:    lighten(@gray,2.5%);

// 通用参数
@body-bg:               #f2f2f2; // 全局背景颜色
@text-color:            @gray-dark;  // 全局字体颜色
@grid-columns:          12; // 栅格数
@border-color:          #e5e5e5; // 边框，分割线颜色
@border-width:          1px;
@gray-8a:               #8a8a8a; // 说明，提示字体
@gray-d4:               #d4d4d4; // 字体图标，输入框提示字体
@gray-f8:        		#f8f8f8; // 输入框背景色
@gray-6e:               #6e6e6e; // 标签栏字体色
@z-index-1: 1;
@z-index-2: 99;
@z-index-3: 999;
@z-index-4: 9999;
@z-index-5: 99999;
@guter: 5rem;
@size: 40;

@tx-36: .9rem;
@tx-32: .8rem;
@tx-26: .65rem;
@tx-22: .55rem;
@tx-18: .45rem;

// 按钮
@btn-tx-default:         @gray;
@btn-bg-default:         @gray-lighter;
@btn-border-default:     @border-color;

@btn-tx-primary:         #fff;
@btn-bg-primary:         @primary;
@btn-border-primary:     @primary;

// 表格
@table-title-size:               .7rem;
@table-tx-size:                  .6rem;

@table-tx-default:               @gray-light;
@table-border-default:           @border-color;
@table-bg-default:               darken(@gray-lighter,5%);

@table-tx-primary:               #fff;
@table-border-primary:           @primary;
@table-bg-primary:               lighten(@primary,5%);

// 导航
@nav-tx-size: .9rem;
@nav-icon-size: 1.6rem;
@nav-tx-color: #fff;
@nav-bg-color: @primary;
@nav-height: 2.2rem;
@nav-index: @z-index-3;
@nav-btn-width: 2.2rem;
@nav-pd-guter: .5rem;

// 菜单
@menu-height: 2.45rem;
@menu-tx-size: .65rem;
@menu-tx-color: @gray-6e;
@menu-bg-color: @body-bg;
@menu-active-tx-color: @primary;
@menu-active-bg-color: @primary;
@menu-border-color: @border-color;
@menu-index: @z-index-3;
@menu-border-width: 1px;
@menu-super-size: 3rem;
@menu-super-pd: .15rem;

//版权
@copy-height: 3rem;
@copy-tx-size: .6rem;
@copy-tx-color: @gray-8a;
@copy-tx-acitve: @primary;

//置顶
@totop-right-guter: @guter/5;
@totop-bottom-guter: @guter/5;
@totop-width: 2rem;
@totop-index: @z-index-4;

// 列表
@list-tx-color:                   @gray;
@list-border-color:               @border-color;
@list-guter:                      .25rem;

// 加载动画
@loading-bg-color:                @primary;


// 弹窗
@pop-overlay-color: rgba(0,0,0,.3);
@pop-title-tx-size: .6rem;
@pop-title-tx-color: @gray-dark;
@pop-title-bg-color: @gray-lighter;
@pop-title-height: 2.2rem;
@pop-msg-tx-size: .7rem;
@pop-close-color: @gray-dark;
@pop-close-tx-size: 1rem;
@pop-index: @z-index-5;
@pop-width: 16rem;
@pop-guter: .5rem;

//选项卡
@tab-guter: .5rem;
@tab-active-color: @primary;

//iosselect
@select-index: @z-index-5;
@select-bg-color: rgba(0,0,0,.75);
@select-guter: .5rem;
@select-height: 290px;
@select-hd-height: 45px;
@select-hd-tx-size: .7rem;
@select-hd-bg-color: @gray-lighter;
@select-btn-color: @danger;
@select-tx-color: #111;

//评论框
@comment-index: @z-index-5;
@comment-bg-color: rgba(0,0,0,.75);
@comment-guter: .5rem;
@comment-hd-height: 45px;
@comment-hd-tx-size: .7rem;
@comment-btn-color: @danger;
@comment-input-width: 16rem;

// 轮播图
@owl-dot-defautl-color: #fff;
@owl-dot-color: @primary;
@owl-dot-size: .5rem;
@owl-dot-bottom: .5rem;