/* 变量 */
@primary: #2c9d71; // 主色
@default: #49dfa5; // 副色
@white: #fff; // 白色
@lightWhite: #f2f2f2; // 灰色

@warning: #e73348; // 高亮颜色
@black: #333; // 黑
@lightBlack: #666; // 浅黑
@gray: #d4d4d4; // 灰
@lightGray: #999; // 亮灰

@border: #eee; // 线


@padding: 1.0rem;